<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(user){ %>
      <form class="form-inline" action="/logout" method="POST">
      <div class="pull-left" style="margin-right:15px">
      <h5 class="card-title">Logged in as: <%= user['email'] %></h5></div>
      <button type="submit" class="btn btn-outline-dark">Logout</button>
      </form>
    <% } else{ %>
      <form class="form-inline" action="/register" method="GET"> 
        <div class="pull-left" style="margin-right:15px"></div>
        <button type="submit" class="btn btn-primary">Register</button>
        </form>
      <form class="form-inline" action="/login" method="GET"> 
      <div class="pull-left" style="margin-right:15px"></div>
      <button type="submit" class="btn btn-dark">Login</button>
      </form>
   <% } %>
  </nav>
</header>